.footer{
    height: 75px;
    width: 100%;
    text-align: center;
    @include center;
    position: absolute;

    p{
        color: #c2c2c2;
        font-family:'open_sans';
        font-size: 0.9rem;
        text-align: center;
        @include tablet{
            margin: 5px;
        }
        @include desktop{
            text-align: left;
            padding-left: 27px;
        }
    }
}
