.container{
	height: 90vh;
	@include center;
	@include tablet {
		flex-direction: row; 
	}
	@include desktop {
		height: 80vh;
		padding: 32px;
		justify-content: flex-start;
	}
	img{
		max-width:220px;
		@include animate1;
		@keyframes reposition1 {
			0% {transform: translate(-10px, 10px);}
			100% {transform: translate(0px, 0px);}
		}
		@include tablet{
			width: 22%;
			@include animate1;
			@keyframes reposition1 {
			0% {transform: translate(10px, 10px);}
			100% {transform: translate(0px, 0px);}
			}
		}
	}
}

.selectcontain{
	@include center;
	@include animate;
	@keyframes reposition {
		0% {transform: translate(10px, -10px);}
		100% {transform: translate(0px, 0px);}
	}

	@include tablet{
		margin-left: 12px;
		width: 250px;
		align-items: flex-start;
		@include animate;
		@keyframes reposition {
			0% {transform: translate(-10px, 0px);}
			100% {transform: translate(0px, 0px);}
		}
	}

	@include desktop{
		@include animate;
		@keyframes reposition {
			0% {transform: translate(0px, 0px);}
			100% {transform: translate(100px, 0px);}
		}
	}
	
	h2{
		font-size: 0.8rem;
		margin: 18px;
		@include tablet{
			font-size: 0.9rem;
			text-align: left;
			margin: 0 0 15px 0;
		}
	}
}

.compactHeader{
	@include center;
	padding: 30px 0;
	height: auto;
	@include tablet{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		padding-left: 20px;
	}
	img{
		width: 150px;
		@include tablet{
			width: 70px;
			padding: 0 75px;
		}
		@include desktop{
			padding: 0 75px 0 0;
		}
	}
	.selectcontain{
		@include desktop{
			position: relative;
			right: 100px;
		}
	}
}

#selector{
	width: 120px;
	height: 25px;
	font-size: 1rem;
	text-transform: capitalize;
	outline: none;
}