@mixin desktop {
  @media all and (min-width: $desktop-vh) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: $tablet-vh) {
    @content;
  }
}

@mixin mobile{
  @media all and (min-width: $mobile-vh) {
    @content;
  }
}

@mixin primefont{
    font-family: $basefont;
    font-weight: normal;
}

@mixin center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
