@mixin desktop {
  @media all and (min-width: $desktop-vh) {
    @content;
  }
}

@mixin tablet {
  @media all and (min-width: $tablet-vh) {
    @content;
  }
}

@mixin mobile{
  @media all and (min-width: $mobile-vh) {
    @content;
  }
}

@mixin primefont{
    font-family: $basefont;
    font-weight: normal;
}

@mixin center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin animate1{
  animation-name: reposition1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@mixin animate{
  animation-name: reposition;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}